@media screen and (min-width: 424px){
  body {
    background-color: white;
    margin: 0;
  }
}


h1, h3 {
  color: #6AD2F5;
  font-family: 'Righteous', cursive;
}

a {
font-family: 'Righteous', cursive;}

p {
  font-family: 'Righteous', cursive;
}


img {
  width: 300px;
}

.div1 {
  margin: 100px;
}

.texto1 {
  margin-left: 100px;
  width: 700px;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
