@media screen and (min-width: 424px){
  body {
    background-color: cyan;
    margin: 0;
  }
}

img {
  width: 700px;
}

.div1 {
  margin: 100px;
}

.texto1 {
  margin-left: 100px;
  width: 700px;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
