body{
  background-color: #6ad2f5;
  padding: 0;
  margin: 0;
}
#caixa{
  background-color: #FFFF;
  height: 250px;
  width: 400px;
  margin-left: 33%;
  margin-top: 15%;
  border: solid 4px white;
  float: left;
  background-repeat: no-repeat;
  background-size: 350px 355px;
}
h1{
  font-family: 'Righteous', cursive;
}
p{
  font-family: 'Lato', sans-serif;
}
#text{
  margin: 20px;
  text-align: center;
}
